 body {
     padding: 2vw 5vw;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
 }

 * {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
 }

 ul li {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: .25em;
 }

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.125em; 
}

h1,
h2,
h3,
h4 {
    margin-top: 1.5em;
    margin-bottom: .35em;
}

 header {
     position: sticky;
     top: 1em;

     nav {
         display: flex;
         justify-content: space-between;
     }

     ul {
         display: flex;
         gap: 1em;

         li {
            list-style: none;
            margin: 0;
         }
     }
 }

 blockquote {
    padding: 1em 2em;
    background-color: lightblue;
    font-size: 2em;
    font-style: italic;
 }

 footer {
     border-top: 1px solid lightgray;
     display: flex;
     padding-top: 1em;
     margin-top: 3em;
     padding-bottom: 1em;
     justify-content: space-between;
 }