.figure {
    position: relative;
    margin-bottom: 2em;

    &::before {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        content: "";
        right: 0;
        height: 35%;
        background-image: linear-gradient(to bottom, white, transparent);
    }

    &__image {
        object-fit: cover; 
        width: 100%;
        height: auto;
        object-position: center bottom; 
    }
}


.logo {
    width: 6em;
    height: auto;
    display: block;
    margin-bottom: .5em;

    @media (max-width: 900px) { 
        width: 5em;
    }  
}