.list {
    columns: 2;
    gap: 1.5em;
    margin: .5em 0; 

    li {
        list-style-type: disc;
        margin-left: 1.25em;
        margin-bottom: .125em;
    }
}

.tags {
    display: flex;
    gap: .35em;
    flex-wrap: wrap;
    color: var(--wheat);
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: var(--font-sans);
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .025em;

    li {
        border: 1px solid currentColor;
        padding: .85em 1.75em;
        border-radius: 5em;
    }
}

.arrow-list {
    margin-top: 1.5em !important;

    li {
        margin-bottom: .125em;
    }

    a {
        display: inline-flex;
        gap: .75em;
        place-content: center;
        text-decoration: none;

        svg {
            width: 1em;
            transition: all .2s;
            pointer-events: none;
        }

        &:hover {
            svg {
                translate: .125em 0;
            }
        }
    }
}